.App {
  text-align: left;
}

.alert-example {
  padding: 30px;
  max-width: 400px;
}

.alert-example-form {
  display: flex;
  flex-direction: column;
}

.alert-example-form .form-field {
  margin: 15px 0px;
}
